<section class="container-body">
    <article class="cards-list row row-cols-1 row-cols-sm-2 g-4">
      <!-- <div class="card col img-fluid">
        <img src="/src/assets/images/1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div> -->
      <!-- <div class="card col">
        <img src="/src/assets/images/1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div> -->
      <div class="border-5">
        <img src="/src/assets/images/1.png" alt="" class="w-100 " />
        <div class="details">
          <div class="description">
            آزمون پارامتریک یا غیر پارامتریک: از کدام یک برای آزمون فرض
            استفاده کنیم؟
          </div>
          <div class="spec">
            <div><span></span>سپهر نوری</div>
          </div>
        </div>
      </div>
    </article>
  </section>