<footer class="container-lg footer-container">
  <div class="footer row">
    <div class="footer__logo col-12 col-lg-6">
      <svg class="icon">
        <use xlink:href="/src/assets/icons/sprite.svg#Logo"></use>
      </svg>
      <p>
        ما در سکان‌آکادمی معتقدیم همه‌ی انسان‌ها حق دارند، به آموزش باکیفیت
        و کم‌هزینه دسترسی آسان داشته باشند و همه‌ی افراد می‌توانند با آموزش
        درست، زندگی فردی و اجتماعی خود را بهتر کنند. با توجه به تخصص تیم ما
        در حوزه‌ی IT و نیاز روزافزون بازار کار به متخصصان این حوزه، تولید و
        عرضه‌ی محتوای مهارت‌محور و تخصصی را در حوزه‌ی IT جدی‌تر دنبال کردیم.
        در این راه از ابتدای انتخاب مسیر متناسب با توانایی و امکانات دانشجو
        تا یادگیری، تمرین، کسب مهارت تخصصی و عمومی، و در نهایت معرفی به
        بازار کار همراه او هستیم...
      </p>
    </div>
    <div class="col-12 col-lg-6">
      <div class="footer__links row row-cols-2">
        <div class="service-link col-6 gap-4">
          <h3>خدمات سکان آکادمی</h3>
          <p><a href="">دوره‌های آموزشی</a></p>
          <p><a href="">وبلاگ</a></p>
          <p><a href="">سکان پلاس</a></p>
          <p><a href="">رادیوفول‌استک</a></p>
          <p><a href="">فن‌واژه</a></p>
        </div>
        <div class="access-link col-6 gap-4">
          <h3>دسترسی سریع</h3>
          <p><a href="">درباره ما</a></p>
          <p><a href="">تماس با ما</a></p>
          <p><a href="">همکاری با ما</a></p>
          <p><a href="">شرایط و قوانین</a></p>
        </div>
      </div>
    </div>
    <div class="footer__copyright mt-4">
      کلیه حقوق مادی و معنوی این وب‌سایت متعلق به سکان آکادمی می‌باشد.
    </div>
  </div>
</footer>