<header class="header container-lg">
  <nav class="navbar">
    <div class="nav__menu">
      <button
        data-mdb-button-init
        data-mdb-toggle="sidenav"
        data-mdb-target="#sidenav-1"
        data-mdb-ripple-init
        class="btn hamburger-menu"
        aria-controls="#sidenav-1"
        aria-haspopup="true"
      >
        <svg class="icon">
          <use xlink:href="/src/assets/icons/sprite.svg#menu-1"></use>
        </svg>
        <ul class="sideToggle-menu">
          <li><a href="#">دوره‌های آموزشی</a></li>
          <li><a href="#">وبلاگ</a></li>
          <li><a href="#">مجموعه‌ها</a></li>
          <li><a href="#">رادیوفول‌استک</a></li>
          <li><a href="#">فن‌واژه</a></li>
        </ul>
      </button>
      <!-- <button class="hamburger-menu">
        <svg class="icon">
          <use xlink:href="/src/assets/icons/sprite.svg#menu-1"></use>
        </svg>
      </button> -->
    </div>
    <div class="nav__logo">
      <svg class="icon">
        <use xlink:href="/src/assets/icons/sprite.svg#Logo"></use>
      </svg>
    </div>
    <div class="nav__list">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link" href="#">دوره‌های آموزشی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">وبلاگ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">مجموعه‌ها</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">رادیوفول‌استک</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">فن‌واژه</a>
        </li>
      </ul>
    </div>
    <button class="nav__login">
      <svg class="icon">
        <use xlink:href="/src/assets/icons/sprite.svg#login"></use>
      </svg>
      <p class="login-desktop">ورود | ثبت‌نام</p>
    </button>
  </nav>
</header>
