<header class="header container-body">
    <nav class="navbar">
      <button class="hamburger-menu">
        <svg class="icon">
          <use xlink:href="/src/assets/icons/sprite.svg#menu-1"></use>
        </svg>
      </button>
      <div class="nav__logo">
        <svg class="icon">
          <use xlink:href="/src/assets/icons/sprite.svg#Logo"></use>
        </svg>
      </div>
      <div class="nav__list">
        <ul>
          <li><a href="">دوره‌های آموزشی</a></li>
          <li><a href="">وبلاگ</a></li>
          <li><a href="">مجموعه‌ها</a></li>
          <li><a href="">رادیوفول‌استک</a></li>
          <li><a href="">فن‌واژه</a></li>
        </ul>
      </div>
      <button class="nav__login">
        <svg class="icon">
          <use xlink:href="/src/assets/icons/sprite.svg#login"></use>
        </svg>
        <!-- <p class="login-desktop">ورود|ثبت نام</p> -->
      </button>
    </nav>
  </header>