<section class="container-lg">
  <div
    class="search-section border-bottom border-2 row justify-content-center"
  >
    <header class="search-header">وبلاگ، مقاله‌های تخصصی</header>
    <div class="search-form">
      <form class="d-flex">
        <input
          class="form-control"
          type="search"
          placeholder="در بین مقاله‌های تخصصی جستجو کن..."
          aria-label="Search"
        />
        <button class="btn search-btn" type="submit"></button>
      </form>
      <div class="d-flex form-category gap-3">
        <select
          class="form-select border-0 rtl"
          aria-label="Default select example"
        >
          <option selected>دسته‌بندی</option>
          <option value="1">برنامه نویسی</option>
          <option value="2">UI/UX</option>
          <option value="3">گرافیک</option>
          <option value="3">Front-end</option>
          <option value="3">Back-end</option>
        </select>
        <select
          class="form-select border-0"
          aria-label="Default select example"
        >
          <option selected>نویسنده</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select
          class="form-select border-0"
          aria-label="Default select example"
        >
          <option selected>مرتب‌سازی</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>
</section>