// ----------------IranSans--------------------
@font-face {
    font-family: "IranSansX";
    src: url(/src/assets/fonts/IranSansX/Woff/IRANSansXFaNum-Black.woff) format(Woff);
}
@font-face {
    font-family: "IranSansX";
    src: url(/src/assets/fonts/IranSansX/Woff2/IRANSansXFaNum-Black.woff2) format(woff2);
}
// 
@font-face {
    font-family: "IranSansXregular";
    src: url(/src/assets/fonts/IranSansX/Woff/IRANSansXFaNum-Regular.woff) format(Woff);
}
@font-face {
    font-family: "IranSansXregular";
    src: url(/src/assets/fonts/IranSansX/Woff2/IRANSansXFaNum-Regular.woff2) format(woff2);
}
// 
@font-face {
    font-family: "IranSansXbold";
    src: url(/src/assets/fonts/IranSansX/Woff/IRANSansXFaNum-Bold.woff) format(Woff);
}
@font-face {
    font-family: "IranSansXbold";
    src: url(/src/assets/fonts/IranSansX/Woff2/IRANSansXFaNum-Bold.woff2) format(woff2);
}
// 
@font-face {
    font-family: "IranSansXdemibold";
    src: url(/src/assets/fonts/IranSansX/Woff/IRANSansXFaNum-DemiBold.woff) format(Woff);
}
@font-face {
    font-family: "IranSansXdemibold";
    src: url(/src/assets/fonts/IranSansX/Woff2/IRANSansXFaNum-DemiBold.woff2) format(woff2);
}
// 
@font-face {
    font-family: "IranSansXextrabold";
    src: url(/src/assets/fonts/IranSansX/Woff/IRANSansXFaNum-ExtraBold.woff) format(Woff);
}
@font-face {
    font-family: "IranSansXextrabold";
    src: url(/src/assets/fonts/IranSansX/Woff2/IRANSansXFaNum-ExtraBold.woff2) format(woff2);
}
// 
@font-face {
    font-family: "IranSansXlight";
    src: url(/src/assets/fonts/IranSansX/Woff/IRANSansXFaNum-Light.woff) format(Woff);
}
@font-face {
    font-family: "IranSansXlight";
    src: url(/src/assets/fonts/IranSansX/Woff2/IRANSansXFaNum-Light.woff2) format(woff2);
}
// 
@font-face {
    font-family: "IranSansXmedium";
    src: url(/src/assets/fonts/IranSansX/Woff/IRANSansXFaNum-Medium.woff) format(Woff);
}
@font-face {
    font-family: "IranSansXmedium";
    src: url(/src/assets/fonts/IranSansX/Woff2/IRANSansXFaNum-Medium.woff2) format(woff2);
}
// 
@font-face {
    font-family: "IranSansXthin";
    src: url(/src/assets/fonts/IranSansX/Woff/IRANSansXFaNum-Thin.woff) format(Woff);
}
@font-face {
    font-family: "IranSansXthin";
    src: url(/src/assets/fonts/IranSansX/Woff2/IRANSansXFaNum-Thin.woff2) format(woff2);
}
// 
@font-face {
    font-family: "IranSansXultralight";
    src: url(/src/assets/fonts/IranSansX/Woff/IRANSansXFaNum-UltraLight.woff) format(Woff);
}
@font-face {
    font-family: "IranSansXultralight";
    src: url(/src/assets/fonts/IranSansX/Woff2/IRANSansXFaNum-UltraLight.woff2) format(woff2);
}

// -----------------IranYekan------------------
@font-face {
    font-family: "IranYekanX";
    src: url(/src/assets/fonts/IranYekanX/Woff/IRANYekanXFaNum-Black.woff) format(Woff);
}
@font-face {
    font-family: "IranYekanX";
    src: url(/src/assets/fonts/IranYekanX/Woff2/IRANYekanXFaNum-Black.woff2) format(woff2);
}