@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
// colors
@import "variables";
@import "font";




// mixins
@mixin font($fontFamily,$fontSize){
    font-family: $fontFamily;
    font-size:$fontSize ;
}

@mixin headerLine{
    content: url(/src/assets/icons/Line.svg);
    display: inline-block;
    position: relative;
    top: -4px;
    width: 16px;
    height: 4px;
}


// resets
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.5s ease-in-out;
}
body{
    @include font(IranYekanX,22px);
    color: $secondary2-100;
}

a{
    text-decoration: none;
    color: $secondary2-100;
}
// ---------UI---------
.container-lg{
    // padding: 0 0px;
    max-width: 1146px;
}
.container-body{
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
// ----header----

// navber
.header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 100;
     .navbar{
        // width: 100%;
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__menu{
            display: block;
            .hamburger-menu{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $secondary2-100;
                border-radius: 8px;
                padding: 7.5px;
                background-color: $grayscale-0;
                outline: none;
                .icon{
                    width: 20px; 
                    height: 20px;
                }
                .sideToggle-menu{
                    @include font(IranSansXmedium,16px);
                    position: absolute;
                    top:77px;
                    right: -312px;
                    width: 300px;
                    background-color: $grayscale-0;
                    border: 2px solid $grayscale-4;
                    border-radius: 16px;
                    line-height: 32px;
                    ul{
                        li{
                            a:hover{
                                color: $secondary1-100;
                            }
                        }
                    }
                }
            }
            .hamburger-menu:focus{
                .sideToggle-menu{
                    right:0px;
                }
            }
        }
        .nav__logo{
            .icon{
                width: 87px; 
                height: 37px;
            }
        }
        .nav__list{
            display: none;
            @include font(IranSansXmedium,14px);

        }
        .nav__login{
            background-color: $secondary2-100;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            border-radius: 8px;
            padding: 7.5px;
            .icon{
                width: 20px; 
                height: 20px;
                color:$grayscale-0;
            }
            .login-desktop{
                display: none;

            }
        }
    }
}
@media (min-width:576px){
    .header{
        .navbar{
            .nav__menu{
                display: none;
            }  
            .nav__list{
                display: block;
                width: 476px;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0;
                    margin: 0;
                    li{
                        a{
                            color: $secondary2-100;
                        }
                        a:active{
                            color: $secondary1-100;
                        }
                        a:hover{
                            color: $secondary1-100;
                        }
                    }
                }
            }
            .nav__login{
                border: none;
                color: $grayscale-0;
                @include font(IranSansXmedium,14px);
                .login-desktop{
                    display: block;
                    font-weight: 500;
                    margin: 0 6px 0 0;

                }
            }
        }
    }
}
// breadcrumb
.breadcrumb-section{
    // position: relative;
    // top: 77px;
    .breadcrumb{
        @include font(IranSansXmedium,14px);
        margin-bottom: 0;
        width: 100%;
        line-height: 28px;
        padding: 20px 0px 0px;
        display: flex;
        justify-content: start;
        align-items: center;
        .breadcrumb-item{
            a{
                color: $secondary2-100;

            }
        }
        .active{
            color: $grayscale-5;
        }
    }

}
// search-section
section{
    .search-section{
        font-weight: 500;
        padding: 40px 0px;
        margin: 0 4px;
        border-color: $grayscale-2;
        @include font(IranSansX,22px);
        // height: 320px;
        .search-header{
            @include font(IranYekanX,22px);
            font-weight: 900;
            display: flex;
            justify-content: center;
            align-items: baseline;
            margin:0px 9.5px 28px;
            line-height: 44px;
        }

        .search-header::before{
            @include headerLine();
            margin-left: 8px;
        }
        .search-header::after{
            @include headerLine();
            margin-right: 8px;
        }
        .search-form{
            max-width: 560px;
            padding: 0;
            .search-btn{
                background-color: $secondary2-100;
                border-radius: 8px;
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url(/src/assets/icons/search-normal.svg);
                background-repeat: no-repeat;
                background-position: center;
            // .search-btn-svg{
            //         width: 26px;
            //         height: 25px;
            // }
            }
            .form-category{
                width: 100%;
                justify-content: center;
                align-items: center;
                .form-select{
                    height: 44px;
                    border-radius: 8px;
                    background-position: left .75rem center;
                    background-color: $grayscale-1;
                    color: $grayscale-6;
                    padding-right:12px;
                    margin-top: 24px;
                    @include font(IranSansXregular,14px);
                    line-height: 28px;
                    direction: rtl;
                    option{
                        width: 100%;
                        background-color: $grayscale-0;
                        font-size: 14px;
                    }
                }
            }
            @media (max-width:576px) {
                .form-category{
                    flex-direction: column;
                }
            }
            .form-control{
                border: none;
                border-radius: 8px;
                background-color: $grayscale-1;
                margin-left: 12px;
            }
            .form-control::placeholder{
                color: $grayscale-6;
                @include font(IranSansXregular,14px);
                line-height: 28px;
            }
        }
    }
}
// ---------body-------
// cards
.cards-list{
    padding: 20px 0px 80px;
    margin: 0 auto;
    display: flex;  
    justify-content: center;
    align-items: center;
    .card{
        max-width: 368px;
        max-height: 236px;
        padding: 0;
        margin-top: 20px;
        border-radius: 8px;
        border: 2px solid $grayscale-2;
        overflow: hidden;
        object-fit: cover;
        .card-body{
            padding: 16px 18px 20px;
            line-height: 36px;
            font-weight: 500;
            max-width: 368px;
            max-height: 238px;
            position: relative;
            top: -50%;
            background-color: rgba($color: $grayscale-0, $alpha: 0.8);
            @include font(IranSansXdemibold,18px);
            .card-text{
                display: inline-block;
                color: $secondary2-100;
                width: 288px;
                margin: 0;
                overflow: hidden;
                text-overflow:"...";
                // white-space: nowrap;
                height: 72px;

            }
            .course-creater{
                @include font(IranSansXmedium,14px);
                margin: 16px 0;
                .profile-creater{
                    img{
                        width: 21px;
                        height: 21px;
                    }
                }
                .name-creater{
                    margin-right: 5px;
                }
            }
            .course-details{
                @include font(IranSansXlight,14px);
                font-weight: 500;
                width: 100%;
                height: 40px;
                .course-spec{
                    display: flex;
                    justify-content: space-between;
                    div{
                        display: flex;
                        align-items: center;
                        p{
                            margin: 0 8px 0 0;
                        }
                    }
                    .icon{
                        height: 20px;
                        width: 20px;
                    }
                }
                .bookmark{
                    svg{
                        height: 24px;
                        width: 24px;
                    }
                }
            }
        }
    }
    .card:hover{
        .card-body{
            top: -100%;
        }
    }
    
}

// ---------footer--------
.footer-container{
    max-width: 100%;
    border-bottom: 8px solid $secondary2-100;
    background-color: $grayscale-1;
    .row{
        justify-content: center;
    }
        .footer{
            padding: 48px 0;
            max-width: 1136px;
            margin: 0 auto;
        @include font(IranSansXregular,14px);
        .footer__logo{
            svg{
                width: 87px;
                height: 37px;
            }
            p{
                margin-top: 24px;
                line-height: 28px;
                font-weight: 500;
            }
        }
        .footer__links{
            div{
                width: 176px;
            }
            h3{
                @include font(IranSansXregular,16px);
                font-weight: 700;
                line-height: 32px;
            }
        }
        .footer__copyright{
            text-align: center;
            @include font(IranSansXregular,14px);
            font-weight: 700;
            line-height: 28px;
        }
    }
}
